<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Moving Targets</title>
  <meta name="description" content="Generated Images">
  <meta name="author" content="Andi Albrecht">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body class="bg-light">
  {% block content %}CONTENT GOES HERE{% endblock %}
</body>
</html>
